/*@import, quando existem devem ser o primeiro item de um arquivo CSS (não é recomendado usar mais de 02 fontes no site*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*Definição de variaveis*/
:root{ /* cores que podem ser usados em todo css atraves da chamada de variaveis*/
    --cor-primaria:#550000;
    --cor-secundaria:#FF7F2A;
    --cor-fundo-clara:#DDDDDD;
    --cor-fundo-escura:#BBBBBB;
    --cor-texto-clara:#FFFFFF;
    --cor-secundaria-clara:#FFAF7B;
    --cor-texto-escura:#777777;/*digitos repetidos são tons de cinza até #999999, quando acaba começa em #AAAAAA até #FFFFFF que é branco, quanto mais póximo do #000000 mais escuro a fonte*/
}

/*CSS reset*/
*{ /*todos os elementos*/
    padding:0;
    margin:0;
    /*Exemplo de familia de fonte sem serifa
    font-family: Calibri,Arial,sans; */
    
    /*Exemplo de familia de fonte com serifa
    font-family: Georgia,'Times New Roman',serif; (Entre haspas somente fonte com nome composto)*/

    /*Exemplo de familia de fonte MONOESPAÇADA
    font-family: Consolas, 'Courier New', monospace;*/

    /*Familia de fontes da web (webfonts) */
    font-family: Raleway,Calibri,Arial,sans;
    
}
html{
    font-size: 16px ;
}
/*Cor de todos os links do site*/
a{
    color:var(--cor-primaria);
    text-decoration: none;/*sem sublinhado*/
}
a:hover{ /*mouse passando em cima do link*/
    color:var(--cor-secundaria);
    text-decoration: underline; /*volta o sublinhado*/

}
header{
    background-color: var(--cor-primaria);
    padding:10px 20px;
}
nav ul li {
    display: inline-block; /*Deixa o menu na horizontal*/
    margin:10px;
    
}
nav{
    background-color:var(--cor-secundaria);/*cor de fundo*/
    color:var(--cor-texto-clara);/*cor de texto*/
}

#content{ /* Cerquilha "#" refere-se sempre a uma div*/
    background-color:var(--cor-fundo-clara);
    padding: 20px; /* espaçamento interno*/
    
    display: flex;/*este elemento e seu filhos usarão flexbox, ficarão em linha*/
    flex-direction: row;/*os filhos ficarão em linha*/
}
main, aside { /* estas regras serão para main e aside*/
  background-color:var(--cor-texto-clara);  
  padding:24px; /*separar os titulos da section*/
  margin-bottom:20px; /*separar o que esta dentro das sections uns dos outras*/
  border-radius: 10px; /*arredondar as bordas das sections*/
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);/*Sombra na section (drop-down shadow)*/
  flex-grow:1 ; /*unidade de largura(padrão) pegou 1 parte da tela apenas*/
}
main{
    /*flex-grow: 3; Pegou 3 partes da tela de largura contra 1 parte da de cima */
    width: 75%;
}  
aside {
      margin-left: 20px; /* separar as sections*/
      background-color: #BBBBBB;
      width: 25%;
  }
  main article, aside article {/*article que estão dentro de main ou aside*/
      margin: 24px 0; /*24px - Top/bottom, 0 - left/right; separar os articles*/
  }
  main > h1, aside > h1{ /* ">" Apenas os h1 que são filhos diretos de main e de aside*/
      /*Deixar o texto em maiusculos*/
      text-transform: uppercase;
      color: var(--cor-secundaria)
  }
  article > h1{ /* Só os h1 que são filhos diretos de article*/
    
    margin-bottom: 6px; /*separar os h1 do p*/

  }
  article > h1 > a{ /*Só os "a"(links) que estao dentro do h1*/
    font-size: 1.5rem; /*1.5px o temanho da fonte do elemento raiz(html)*/

  }
  article > p{ /*Só os p que estão dentro do article*/
      color:var(--cor-texto-escura);
  }
article > h2{
    font-size: 0.8rem;
    text-transform: uppercase;/*todas as letras em maiusculas*/
}
.destaque{
    background-color: var(--cor-secundaria-clara);
    padding:24px;
    border-radius: 6px; /*Bordas levemente arredondadas;*/
}    
.destaque  p{ /* todos os p que estao em destaque*/
    color:#000;/*quando são numeros repetidos pode ser apenas 3 digitos*/
    font-size: 1.5rem;
}
.destaque h1 > a{
    font-size: 2.5rem;/*duas vezes e meia o tamanho normal do texto*/
}
.destaque > h2{
    font-size: 1rem;
}
.destaque img{ /*todas as imagens dentro de destaque ficarao com este tamanho*/
    width:450px; /*redimenciona o tamanho das foto para 450px*/
    margin-right: 24px;/*separa a imagem do texto em 24px*/
    border-radius: 6px; /*arredonda as bordas da imagem*/
    
}
.foto-texto{
    display:flex;
    display-direction:row;/*os filhos ficarao em linha*/
}
aside > article >img{
    display:block;
    margin: 0 auto;/*margin auto sem margem a esquerda e a direita, centraliza o elemento quando este é diplay block */
    border-radius: 4px; /*Borda arredondada*/
}
aside > article > h1 > a{
    font-size: 1rem;
    color: #000;
    
}
aside > article > h1{
    margin-top: 6px; /*separa a foto de folhas do texto abaixo*/
}
footer{
    background-color: var(--cor-primaria);
    padding:24px;
    color: #FFFFFF;
    display:flex; /* container para varias funçoes, tipo alinhamento em linha*/
    flex-direction: row; /* regra do flexbox alinhamento em linha*/
    align-content: space-around;/*coloca espaço automaticamente entre os itens de um flexbox, antes no meio e depois*/
}
footer a{
    color:#FFFFFF;
    
}
footer ul li {
    display: inline-block; /*Coloca os itens de uma lista na horizontal*/
    /*margin: 0 6px; top/down = 0 / esquerda = 12px para distanciar uma palavra da outra*/
    padding: 0 6px; /*em cima e embaixo = 0 e nas laterais 6px*/
    border-right: 1px solid #FFFFFF; /*coloca um traço na lateral da palavra*/
    

}